* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #121214 url('../assets/img/loginbox_background.jpg') no-repeat;
  background-size: 100%;
  color: #e1e1e6;
}
