.header {
  // background-color: #385365;
  background-color: #151520;
  border-bottom: 2px solid orange;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 30px;
  width: 100vw;

  .navmenu {
    a {
      color: whitesmoke;
      padding: 0 10px;
      text-decoration: none;
    }
  }
}
