.loginBoxWrapper {
  align-items: center;
  background: #17171a url("../../assets/img/loginbox_background.jpg") no-repeat center bottom;
  background-size: 700px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 60vh 0 10vw;
  text-align: center;
  width: 100%;

  .loginBoxText {
    background:rgba(10, 10, 10, 0.9);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 30px 20px;
    width: 100%;

    strong {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 10px;
      text-shadow: -1px 1px 0 #000,
                    1px 1px 0 #000,
                    1px -1px 0 #000,
                    -1px -1px 0 #000;
    }
  }

  .loginBoxForm {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;

    .emailInput, .passwordInput {
      align-items: center;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .signInInput, .signInButton {
      border: 1px solid rgba(10, 10, 10, 0.9);
      font-size: 16px;
    }
    
    .signInInput {
      height: 40px;
      margin: 6px;
      padding: 2px;
      width: 100%;
    }
    
    .signInButton {
      background: orange;
      height: 40px;
      margin: 6px;
      width: 88%;
      &:hover {
        cursor: pointer;
        filter: brightness(0.8);
      }
    }
  }  
}
